body {
          font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {

          color: #4D4D4D !important;
}

.nav-link {
          margin-right: 20px;

}

.nav-link:hover {
          color: #4CAF4F !important;

}

h2 {
          font-size: 2.5rem;
          font-weight: 600;

}

p {
          color: #717171 !important;
}

.btn {
          padding: 15px 30px !important;
}

.btn-success {
          background-color: #4CAF4F !important;
          border: #4CAF4F;
}

.bg-light {
          background-color: #F5F7FA !important;
}

.text-success {
          color: #4CAF4F !important;
}

.card {
          box-shadow: 0px 2.67px 5.34px 0px #ABBED166;
          border: none;

}


.Our_Clients img {
          max-width: 80px;
}

.business_helping img {
          max-width: 40px;
}

.hero-section h1 {
          font-size: 3.5rem;
          font-weight: 700;
}

.hero-img {
          width: 400px;
          height: 400px !important;
}

.new_marketing img {
          width: 300px;
}

.Community_section img {
          width: 80px;
          height: 80px;
}

.img-taker {
          position: relative;
}

.content-taker {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 250px;
          border-radius: 6px;
}

.content-taker h6,
.content-taker .btn {
          margin-bottom: 0px !important;
          padding-bottom: 0px !important;
}

.emailer {
          background-color: #ffffff5e;
          padding: 10px 15px;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
}

.emailer input {
          background: #ffffff00;
          border: none;
          outline: none;
          color: aliceblue;
}

::placeholder {
          color: rgb(206, 206, 206);

}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
          width: 12px;
          height: 12px;
          background-color: #4CAF4F;
}

.client-icons img {
          width: 40px;
          height: 100%;
}


footer a {
          text-decoration: none;
          font-size: 15px;

}

.navbar-toggler {
          border: 0px !important;
}

.navbar-toggler:focus {
          border: 0px !important;
          box-shadow: none !important;
}

@media screen and (max-width:768px) {
          .hero-img {
                    width: auto;
                    margin: auto;
                    height: 300px !important;
          }

          .hero-section h1 {
                    font-size: 2.5rem;
          }

          .nav-link {
                    margin-right: 0px;

          }
}

@media screen and (min-width:768px) and (max-width:992px) {
          .hero-img {
                    width: auto;
                    margin: auto;
                    height: 300px !important;
          }

          .hero-section h1 {
                    font-size: 3rem;
          }

          .new_marketing img {
                    width: 200px;

          }

          .content-taker {
                    width: 150px;
          }
}